.notValid {
  color: red
}

.inputNotValid {
  border: 1px solid red;
  background: red;
  opacity: .1;
  border-radius: 2px;
}

.inputValid {
  border: 1px solid green;
  background: green;
  opacity: .1;
  border-radius: 2px;
}
